/* reset de margens */
* {
    margin: 0;
    padding:0;
}

body, html {
    width: 100%;
    z-index: 1;
    font-family: Arial, Tahoma, sans-serif;
    background: #FFFFFF;
    background-repeat: no-repeat;
    background-size:cover;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    max-width:100%;
	  height:auto;
}

ul.navigation {
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 2;
  
  padding: 0;
  color: #000000;
  background-color: #000000;
  margin: 0;

    
    
  }
  ul.navigation > a{
    text-decoration: none;
  }
  ul.navigation > a > li {
    
    display: inline-block;
    height: 40px !important;
    padding: 10px 10px 0px 10px;
    margin: 0;
    max-height: 30px;
    
  }
  ul.navigation > a > li {
    color: #FFFFFF;
    
  }

  article.patrocinio1 > img{
    color: white;
  font-size: 1rem;
  text-align: right;
  padding-left: 1.5rem;
  padding-right: 35%;
  margin-top: 60px;
  width: 400;
  height: 200;
  }


  article.patrocinio2 > img{
    color: white;
  font-size: 1rem;
  text-align: left;
  padding-right: 1.5rem;
  padding-left: 35%;
  margin-top: -210px;
  width: 400;
  height: 200;
  }

  article.patrocinio3 > img{
    color: white;
  font-size: 1rem;
  text-align: right;
  padding-left: 1.5rem;
  padding-right: 35%;
  margin-top: 130px;
  width: 400;
  height: 200;
  }

  article.patrocinio4 > img{
    color: white;
  font-size: 1rem;
  text-align: left;
  padding-right: 1.5rem;
  padding-left: 35%;
  margin-top: -210px;
  width: 400;
  height: 200;
  }
  
  
  @media(max-width:1000px){


    

    ul.navigation > a > li {    
      display: inline-block;
      size: 1rem;
      height: 3 !important;
      margin: 0;
      max-height: 30px; 
    }

    ul.navigation {
      width: 100%;
      height: 30px;
      position: fixed;
      z-index: 2;
      padding: 0;
      color: #ececec;
      font-size: 0.8rem;
      padding: 0;    
      background-color: #000000;
      margin: 0;
      text-align: center;
      
    }
    div, body, html {      
      font-family: Arial, Tahoma, sans-serif;
      background: white url("../Imagens/Imagem_Index.jpeg")no-repeat;
      background-position: 50% 50%;
      background-size: auto;
      z-index: 1;
  }
  
  article.patrocinio1 > img{
    color: white;
    font-size: 1rem;
    text-align: right;
    padding-left: 0.5rem;
    padding-right: 55%;
    margin-top: 0px;
    width: 350;
    height: 200;
  }


  article.patrocinio2 > img{
   color: white;
  font-size: 1rem;
  text-align: right;
  padding-left: 0.5rem;
  padding-right: 55%;
  margin-top: 0px;
  width: 350;
  height: 200;
  }

  article.patrocinio3 > img{
    color: white;
    font-size: 1rem;
    text-align: right;
    padding-left: 0.5rem;
    padding-right: 55%;
    margin-top: 20px;
    width: 350;
    height: 200;
  }

  article.patrocinio4 > img{
    color: white;
    font-size: 1rem;
    text-align: right;
    padding-left: 0.5rem;
    padding-right: 55%;
    margin-top: 20px;
    width: 350;
    height: 200;
  }

  
  

  
}

    
